# Core functionality - changes here should be rare!
/src/app.py                   @ReeceC747
/src/backend/database.py      @ReeceC747
/src/backend/routers/auth.py  @ReeceC747

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ReeceC747
